<h1>ようこそBookersへ!</h1>

<p>Bookersでは、さまざまな書籍に関するあなたの意見や<br>


<br>印象を共有し交換することができます</p>


<p>
  <a href="/books">start</a>
</p>


font-family:verdana,arial,helvetica,
 sans-serif;
 font-size:13px;
 line-height:18px;
 margin:33px;
 }